<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.groupware.mapper.AttendanceMapper">

	<!-- 1. 조회 -->
	<select id="selectTodayAttendance" resultType="com.groupware.dto.AttendanceDTO">
		SELECT
		ATTENDANCE_ID AS attendanceId,
		EMPLOYEE_ID AS employeeId,
		WORK_DATE AS workDate,
		CHECK_IN_TIME AS checkInTime,
		CHECK_OUT_TIME AS checkOutTime,
		ATTENDANCE_STATUS AS attendanceStatus
		FROM ATTENDANCE
		WHERE EMPLOYEE_ID = #{employeeId} AND WORK_DATE = #{today}
	</select>

	<!-- 2. 삽입-->
	<insert id="insertCheckIn">
		INSERT INTO ATTENDANCE (EMPLOYEE_ID, WORK_DATE, CHECK_IN_TIME,
		ATTENDANCE_STATUS)
		VALUES (#{employeeId}, #{today}, #{checkInTime}, #{status})
	</insert>

	<!-- 3. 수정-->
	<update id="updateCheckOut">
		UPDATE ATTENDANCE
		SET CHECK_OUT_TIME = #{checkOutTime}
		WHERE EMPLOYEE_ID = #{employeeId} AND WORK_DATE = #{today}
	</update>

</mapper>